* {
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: Raleway, Montserrat, sans-serif;
}
body {
    background-color: ivory;
}

body::-webkit-scrollbar{
    display: none;
}

section {
    height: 100vh;
    color: ivory;
}


.header {
    /* border: 1px dotted black; */
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.5rem;
    z-index: 2;
    background-color: #010101;
}

.logo {
    margin-right: auto;
    color: ivory;
}


.header a {
    text-decoration: none;
    color: ivory;
    margin-right: 2rem;
    padding: 0.5rem;
    border-radius: 5px;
    transition: .9s ease-in-out;
}

.header a:hover {
    background-color: ivory;
    color: black;
}

#home {
    background-image: linear-gradient(90deg, rgba(0,0,0,0.7), rgba(0,0,0,0.95)), url(./background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.home-content {
    /* border: 1px solid white; */
    width: 80%;
    margin: 10rem auto;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    align-items: center;
    justify-content: center;
}

.home-content h1 {
    margin-bottom: 2rem;
}

.hidden {
    display: none;
}

#about {
    padding: 2rem;
    /* border: 1px solid red; */
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #010101;
}

.tabtitles {
    /* border: 1px solid blue; */
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem;
    text-align: center;
}

.tabtitle-txt h2 {
    margin-bottom: 1rem;
    background-color: #010101;
    color: ivory;
    padding: 6px;
    border-radius: 7px;
}

.about-img {
    /* border: 1px solid black; */
    height: 100%;
    width: 50%;
}

.about-img img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.focus-container {
    height: 100%;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    /* border: 1px solid black; */
}

.focus-container img {
    width: 300px;
    height: 300px;
    border-radius: 1rem;
}

#resources {
    /* border: 1px solid black; */
    color: #010101;
    padding: 0 2.5rem;
    height: 50vh;
}

.counter {
    /* border: 1px solid purple; */
    margin: 7rem auto;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter-container {
    border: 1px solid #010101;
    border-radius: 10px;
    margin-right: 1.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    transition: .65s ease-in-out;
}

.counter-container:hover {
    box-shadow: 5px 5px 20px 1px #010101;
    cursor: pointer;
}

.footer-container {
    /* border: 1px solid blue; */
    padding: 2rem 3rem;
    background-color: black;
    color: antiquewhite;
    /* height: 500px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.footer-links a,
.footer-contact a {
    text-decoration: none;
    color: ivory;
    padding: 0.5rem;
    border-radius: 5px;
    transition: .65s ease-in-out;
}

.footer-links a:hover, .footer-contact a:hover{
    background-color: ivory;
    color: black;
}

.footer-contact h2, .footer-contact p {
    margin-bottom: 1rem;
}